
h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.card {
  min-width: 250px;
  background-color: #ffffffe7;
  padding: 10px 15px;
  margin: 12px;
}

.items {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}
.item ~ .item::before {
  content: ", ";
}

.bi:hover {
  z-index: 1;
  transform: scale(1.42);
  transition: 0.5s;
}

.bi-trash:hover {
  color: red;
}

.bi-info-circle:hover {
  color: blue;
}
.bi-pencil-square:hover {
  color: rgb(16, 151, 11);
}
