#Navbar{
  padding: 1rem;
  text-align: center;
}
.navbar{
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  background-color: rgb(255, 255, 255);
}
.profile-img{
    /* border:0.1cap solid; */
    border-radius: 50%;
    background-color: rgba(240, 229, 192, 0.685);
    color: rgb(11, 101, 136);
}
.breadcrumb{
    --bs-breadcrumb-divider:'';
}
footer{
  position:relative;
  top: 150px;
  background-color: rgb(255, 255, 255);

}