#root{
    background-color:#e5f2f36e;
}
.loginForm{
    display: grid;
    place-content: center;
}

.err{
    color: #f35050;
}
.slider-container{
    height: 160px;
}
.count{
    font-size:100px;
}
