
#root{ 
    margin: 5px;
    border: 1px solid rgb(206, 226, 220);
    border-radius:10px ;
    box-shadow:0 0 4px rgb(121, 207, 180);
    min-height: 90vh;
    overflow: hidden;
    height: 100%;
}

